<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="Node" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="iisnode.+" negate="true"/>
          <action type="Rewrite" url="app.js"/>
        </rule>
      </rules>
    </rewrite>
    <iisnode nodeProcessCommandLine="node.exe" />
  </system.webServer>
</configuration>
